:root {
  font-family: Arial, sans-serif;
  color: #f0f6fc;
  background-color: #0d1117;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
}

body {
  background-color: #0d1117;
}